@font-face {
    font-family: 'TildaSans';
    src: local('TildaSans'),
    url('./assets/fonts/TildaSans/TildaSans-VF.woff') format('woff'),
    url('./assets/fonts/TildaSans/TildaSans-VF.woff2') format('woff2');
    font-style: normal;
}
*{
    /* здесь указать шрифт */
    font-family: 'TildaSans', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;